.journal-bg {
  background: linear-gradient(
    to bottom,
    var(--background-start),
    var(--background-end)
  );
}

.entry-card-shadow {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}

.apple-backdrop {
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--color-tool-bar);
}

.more-arrow-blur::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 24px;
  right: 0;
  bottom: -4px;
  background: linear-gradient(
    270deg,
    oklch(1 0 0) 50%,
    oklch(1 0 0 / 60%) 100%
  );
  filter: blur(2px);
  z-index: 5;
}

@media (prefers-color-scheme: dark) {
  .more-arrow-blur::before {
    background: linear-gradient(
      270deg,
      oklch(0.2123 0.018 300.11) 50%,
      oklch(0.2123 0.018 300.11 / 60%) 100%
    );
  }
}
