.entries-icon {
  fill: var(--color-entries-icon);
}

.bg-entries-icon {
  stroke: var(--color-background);
}

.quote-icon {
  fill: var(--color-quote-icon);
}

.quote-stroke {
  stroke: var(--color-quote-icon);
}

.calendar-icon {
  fill: var(--color-calendar-icon);
}

.bg-calendar-icon {
  fill: var(--color-background);
}

.stats-font {
  color: var(--color-stats-font);
}

.svg-more-icon {
  fill: var(--color-foreground);
}

.card-more-icon {
  fill: var(--color-more-arrow);
}

.svg-search-icon {
  stroke: var(--color-foreground);
}

.svg-more-arrow {
  stroke: var(--color-more-arrow);
}

.search-icon-bg {
  background-color: var(--color-search-icon);
}

.toolbar-icon-bg {
  background-color: var(--color-toolbar-icon);
}
